/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:root {
  --noi-font-family: "Roboto", "Helvetica Neue", sans-serif; 
  --noi-width: 100%;
  --noi-height: 100%;
  --noi-primary: #0068B4;
  --noi-primary-rgb: 0, 104, 180;
  --noi-primary-contrast: #ffffff;
  --noi-action-rgb: 87, 173, 57;
  --noi-action: #339966;
  --noi-action-contrast: #ffffff;
  --noi-jam-strong: #B44C00;
  --noi-error: #B44C00;
  --noi-error-rgb: 180,76,0;
  --noi-error-contrast: #ffffff;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html {
  width: 100%;
  height: 100%;
  text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;

  position: fixed;

  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  text-rendering: optimizeLegibility;

  overflow: hidden;

  touch-action: manipulation;

  -webkit-user-drag: none;

  -ms-content-zooming: none;

  word-wrap: break-word;

  overscroll-behavior-y: none;

  text-size-adjust: none;
}

