/*
 * SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

:host {
  overflow: hidden;
  position: relative;
  margin: 0 16px 0 48px;
  background: transparent;
  font-family: var(--noi-font-family, var(--noi-font-family-default));
  color: rgba(var(--noi-primary-rgb), 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

:host.station-item--start {
  margin-left: 16px;
}

:host.station-item--end {
  margin-left: 16px;
}

:host.station-item--selected {
  background: rgba(var(--noi-primary-rgb), 0.5);
  color: var(--noi-primary-contrast);
  border-radius: 4px;
}


.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 8px;
  margin-bottom: 8px;
}

h3 {
  font-family: var(--noi-font-family, var(--noi-font-family-default));
  margin: 0;
  padding: 0;
}

p {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}


:host.station-item--start:not(.station-item--selected) h3 {
  color: var(--noi-primary);
}

:host.station-item--end:not(.station-item--selected) h3 {
  color: var(--noi-action);
}

svg {
  margin: 0 16px;
  fill: var(--noi-primary-contrast);
  stroke-width: 4px;
  stroke: rgba(var(--noi-primary-rgb), 0.7);
}

:host.station-item--start svg {
  stroke: var(--noi-primary);
  fill: var(--noi-primary);
}

:host.station-item--end svg {
  stroke: var(--noi-action);
  fill: var(--noi-action);
}
