:host {
  --height: 210px;
  position: absolute;
  background: #fff;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - var(--height)));
  -webkit-transform: translateY(calc(100% - var(--height)));
  will-change: transform;
}

:host:not(.noi-media-gs).slide-in {
  animation: search-slide-in 0.5s forwards;
  -webkit-animation: search-slide-in 0.5s forwards;
}

:host:not(.noi-media-gs).slide-out {
  animation: search-slide-out 0.5s forwards;
  -webkit-animation: search-slide-out 0.5s forwards;
}

:host.noi-media-gs {
  position: initial;
  height: auto;
  height: 100%;
  max-width: 360px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}


:host.noi-media-gs--landscape {
  height: 100%;
  width: 360px;
}

@keyframes search-slide-in {
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes search-slide-in {
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes search-slide-out {
  0% { transform: translateY(0); }
  100% { transform: translateY(calc(100% - var(--height))); }
}

@-webkit-keyframes search-slide-out {
  0% { -webkit-transform: translateY(0%); }
  100% { -webkit-transform: translateY(calc(100% - var(--height))); }
}

/* header */
header {
  display: flex;
  margin: 16px 0 8px 0;
  min-height: 36px;
}

.header__back-btn {
  margin-right: auto;
  min-width: 48px;
  fill: var(--noi-primary);
}

:host.noi-media-gs .header__back-btn {
  visibility: hidden;
}

:host:not(.slide-in) .header__back-btn {
  visibility: hidden;
}


/* content */
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}


/* logo */
.search__logo {
  flex: 1;
  margin-right: 16px;
}


/* search-footer */
footer {
  display: none;
  height: 0;
  z-index: 999;
}

:host.slide-in footer {
  display: block;
  height: auto;
}

:host.noi-media-gs footer {
  display: block;
  height: auto;
}

.search-footer__text {
  font-family: var(--noi-font-family);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: rgba(var(--noi-primary-rgb), 0.3);
  font-size: 23px;
  margin-bottom: -16px;
}

.search-footer__img {
  width: 100%;
  min-height: 150px;
}


/* stations */
.search__stations {
  width: 100%;
  display: block;
  margin-bottom: auto;
}


/* search-stations */
.search-stations__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-stations__buttons {
  flex: 1;
}

/* search-reorder-btn */
.search-reorder-btn {
  margin-left: auto;
  margin-right: 8px;
  --transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1),
                background-color 15ms linear,
                color 15ms linear;
  --box-shadow: none;
  --padding-start: 8px;
  --padding-end: 8px;
  --background-activated: #eee;
  --background-activated-opacity: 0.5;
}

.search-reorder-btn > svg {
  fill: var(--noi-action);
}

.search-reorder-btn.noi-activated {
  --background: #eee;
  --box-shadow: 0px 0px 0px 2px #eee;
}

.search-reorder-btn.noi-activated > svg {
  fill: rgba(var(--noi-action-rgb), 0.5);
}

/* search-station-btn */
.search-station-btn {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  --background: #eee;
  --color: var(--noi-primary);
  margin: 8px;
  display: block;
  margin-right: 12px;
  --transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1),
                background-color 15ms linear,
                color 15ms linear;
  --box-shadow: none;
  --padding-top: 12px;
  --padding-right: 8px;
  --padding-bottom: 12px;
  --padding-left: 8px;
  --background-activated: #eee;
  --background-activated-opacity: 0.5;
  --border-width: 1px;
  --border-style: solid;
}

.search-station-btn--empty {
  font-weight: normal;
  --color: rgba(var(--noi-primary-rgb), 0.5);
}

.search-station-btn--start {
  --border-color: rgba(var(--noi-primary-rgb), 0.5);
}

.search-station-btn--end {
  --border-color: rgba(var(--noi-action-rgb), 0.5);
}

.search-station-btn--start > svg {
  fill: var(--noi-primary);
}

.search-station-btn--end > svg {
  fill: var(--noi-action);
}

noi-path-details {
  flex: 1;
  overflow: hidden;
  width: 100%;
  margin-bottom: -48px;
  /* to le the list slide-out under the mountains ;) */
}