/* last sync panel */
:host {
  height: 48px;
  line-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(var(--noi-primary-rgb), 0.5);
  font-family: var(--noi-font-family, var(--noi-font-family-default));

}

.last-sync--outdated {
  color: rgba(var(--noi-error-rgb), 0.5);
}

.last-sync__icon {
  margin-right: 8px;
}

.last-sync__date {
  font-weight: bold;
  margin-left: 8px;
}
