:host {
  display: flex;
  flex-direction: row;
}

.noi-search__img {
  margin-left: auto;
}

.noi-search__inputs {
  padding: 8px;
  min-width: 100px;
  flex: 1;
}

.noi-search__button {
  margin-left: auto;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

noi-input {
  --background: #eee;
  --border-radius: 8px;
  margin: 8px;
  width: auto;
}
