:host {
  display: block;
  overflow: hidden;
  width: var(--noi-width);
  height: var(--noi-height);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

/* map */
noi-map {
  z-index: 0;
  flex: 1;
}
