:host {
  display: block;
  overflow: hidden;
  width: var(--noi-width);
  height: var(--noi-height);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

noi-map {
  z-index: 0;
  flex: 1;
}

noi-card.search {
  position: absolute;
  top: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  overflow: visible;
  border-radius: 0;
}


:host.noi-media-gs noi-card.search {
  overflow: hidden;
  left: 5%;
  right: 5%;
  width: auto;
  border-radius: 5px;
}

:host.noi-media-gs--landscape  noi-card.search {
  width: 37%;
  max-width: 500px;
  bottom: 10%;
}
