:host {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  display: flex;
  width: 100%;
  height: 48px;
  line-height: 48px;
  margin-bottom: auto;
  text-align: center;
}

/* header buttons */
noi-button.header__section {
  flex: 1;
  justify-content: center;
  --background: rgba(var(--noi-primary-rgb), 0.3);
  --color: var(--noi-primary-contrast);
  font-weight: bold;
  text-shadow: 1px 1px rgb(0,0,0,0.3)
}

noi-button.header__section--active {
  --background: rgba(var(--noi-primary-rgb), 0.5);
}

/* content */
.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

/* header-highway */

.header-highway__title {
  background: var(--noi-primary-contrast);
  color: var(--noi-primary);
  border-radius: 4px;
  padding: 4px;
  margin-right: 8px;
  font-weight: normal;
  text-shadow: none;
}

noi-station-item:last-of-type {
  margin-bottom: 48px;
}
