.content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--noi-font-family, var(--noi-font-family-default));
}

.error { 
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  border-radius: 4px;
  background: rgba(var(--noi-error-rgb, 255, 0, 0), 0.7);
  color: var(--noi-error-contrast, #fff);
}

.empty {
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  border-radius: 4px;
  background: rgba(var(--noi-primary-rgba, 0, 0, 255), 0.7);
  color: var(--noi-error-contrast, #fff);
}

/* TODO: implement arrow? */
/* .content:before {
  content: '';
  z-index: 999;
  position: absolute;
  left: 16px;
  top: 16;
  bottom: 100px;
  border-right: 1px dashed red;
} */

noi-station-item:last-of-type {
  margin-bottom: 100px;
}
