:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.noi-search__inputs {
  padding: 8px;
  min-width: 100px;
  flex: 1;
}

.noi-search__button {
  margin-left: auto;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noi-search__input {
  --background: #eee;
  --border-radius: 10px;
  --color: #333;
  margin: 8px;
  display: block;
  margin-right: 12px;
  --transition: box-shadow 200ms cubic-bezier(.4, 0, .2, 1),
                background-color 15ms linear,
                color 15ms linear;
  --box-shadow: none;
  --padding-top: 12px;
  --padding-right: 8px;
  --padding-bottom: 12px;
  --padding-left: 8px;
  --border-radius: 4px;
  --background-activated: #eee;
  --background-activated-opacity: 0.5;
}

.noi-search__input.noi-activated {
  --box-shadow: 0px 0px 0px 2px #eee;
}

.noi-search__input--empty {
  --background: #ccc;
}

